{{ define "header" }}
  <h1 class="title"><span contenteditable="true">{{ .Title }}</span></h1>
  <div class="meta">
    <span class="authors"><span contenteditable="true">{{ partial "taxonomy-links.html" (dict "Site" .Site "Params" .Params "taxonomy" "people") }}</span></span>
    <span class="divider">|</span>
    <time class="date" datetime="{{ .Date.Format "2006-01-02" }}"><span contenteditable="true">{{ .Date.Format "2 Jan 2006"}}</span></time>
  </div>
{{ end }}


{{ define "main"}}
  <article class="{{ partial "content-class.html" . }} main">
    <section class="content">
      <div contenteditable="true">
        {{ .Content }}
      </div>
    </section>

    <section class="info">
      <div class="social">
        <a class="twitter" href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">
          <i class="ic ic-twitter"></i><span class="hidden">Twitter</span>
        </a>
        <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">
          <i class="ic ic-facebook"></i><span class="hidden">Facebook</span>
        </a>
        <a class="googleplus" href="https://plus.google.com/share?url={{ .Permalink }}" onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">
          <i class="ic ic-googleplus"></i><span class="hidden">Google+</span>
        </a>
        <div class="clear"></div>
      </div>

      <aside class="tags">
        {{- partial "taxonomy-links.html" (dict "Site" .Site "Params" .Params "taxonomy" "tags" "separator" " " "template" "button") -}}
      </aside>

      <div class="clear"></div>

      {{ with .Params.people }}
        {{ if ge (len .) 2 }}
          <aside class="people">
            <p class="note">{{ i18n "ThisPostWasACollaboration" }}</p>
            <p class="names">{{ partial "taxonomy-links.html" (dict "Site" $.Site "Params" $.Params "taxonomy" "people") }}</p>
          </aside>
        {{else}}
          {{ with $.Site.GetPage (printf "/people/%s" (index $.Params.people 0) | urlize) }}
          {{ .Scratch.Set "people_show_link" 1 }}
          {{ .Scratch.Set "people_show_stats" 0 }}
          {{ .Render "summary" }}
          {{ end }}
        {{ end }}
      {{ end }}
    </section>

    <!--section class="comments">
      <a id="show-disqus" class="activate">{{ i18n "ShowComments" }}</a>
      <div id="disqus_thread"></div>
    </section-->

    <nav class="nav">
      {{ with .NextInSection }}
      <a class="next" href="{{ .RelPermalink }}">
        <section class="teaser">
          <i class="ic ic-arrow-left"></i>
          <h2 class="title">{{ .Title }}</h2>
          <p class="excerpt">{{ .Description | default .Summary | truncate 150 }}</p>
        </section>
      </a>
      {{ end }}
      {{ with .PrevInSection }}
        <a class="previous" href="{{ .RelPermalink }}">
          <section class="teaser">
            <i class="ic ic-arrow-right"></i>
            <h2 class="title">{{ .Title }}</h2>
            <p class="excerpt">{{ .Description | default .Summary | truncate 150 }}</p>
          </section>
        </a>
      {{ end }}
      <div class="clear"></div>
    </nav>
  </article>
{{ end }}