$white:		#ffffff;
$black:		#000000;

$gray-98:		#faf9f7; // elements light background
$gray-95:		#f2f2f0; // menu - background
$gray-90:		#e5e4e1; // every elements border

$blue-80:		#c2c7cc; // nav, menu, pagination - button border
$blue-60:		#8a9199; // nav, menu, pagination - button font

$blue-30:		#45484d;
$blue-15:		#212226;

$yellow-100:	#ffc336;
$red-95:		#f26a3d;

$color-twitter:		#3ea9dd;
$color-facebook:		#3c5a98;
$color-googleplus:	#d14836;

$primary-color: $red-95; // define primary color
