/* ==========================================================================
   Includes
   ========================================================================== */

@import "colors";
@import "normalize";
@import "fonts";
@import "icons";

/* ==========================================================================
   Basics
   ========================================================================== */

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 125%;
}
body {
    background-color: $white;
    color: $blue-30;
    font: 400 1rem/1.5 'Cardo', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
input,
button,
select,
textarea {
    font-family: 'Fira Sans', sans-serif;
    transition: all ease-out 0.2s;
}

h1, h2, h3, h4, h5, h6 {
    color: $black;
    font-family: 'Fira Sans', sans-serif;
    text-rendering: optimizeLegibility;
}

a {
    border-bottom: 1px solid transparent;
    color: inherit;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

p {
    margin: 2rem 0;
}

ul, ol {
    margin: 0 0 2rem;
    padding-left: 2rem;
}

ul {
    list-style: none;
}
li {
    position: relative;
}
ul > li:before,
ol > li:before {
    position: absolute;
    width: 1.5rem;
    margin-left: -2rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: right;
    color: $black;
}
ul > li:before {
    margin-top: 0.25rem;
    content: '*';
}
ol {
    list-style-type: none;
    counter-reset: item;
}
ol > li:before {
    content: counter(item) ". " !important;
    counter-increment: item;
}

ol ol, ul ul, ul ol, ol ul {
    padding-left: 30px;
    margin: 15px 0;
}

hr {
    display: block;
    height: 1px;
    margin: 0 0 2rem;
    padding: 0;
      background: $gray-90;
    border: 0;
}

blockquote {
    margin: 0 0 2rem;
    padding: 1rem;
    border-left: 0.25rem solid $gray-90;
    font-style: italic;
    font-weight: 400;
    color: $blue-30;
    background: $gray-98;
}
blockquote p {
    margin: 0 0 1rem;
}
blockquote p:first-child {
    margin-top: 0;
}
blockquote p:last-child {
    margin-bottom: 0;
}

em, i {
    color: $blue-15;
}
strong, b {
    color: $blue-15;
}
small {
    color: $blue-30;
}
mark {
    background-color: $yellow-100;
}

dl {
    margin: 0 0 2rem;
    padding-left: 30px;
}
dl dt {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: $black;
    margin-bottom: 0.334rem;
}
dl dt:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1px;
    margin-left: -30px;
    margin-top: 0.5rem;
    background: $blue-80;
}
dl dd {
    margin-left: 0;
    margin-bottom: 1rem;
}

code {
    background: $gray-98;
    border: 1px solid $gray-90;
    font-family: monospace, monospace;
    font-size: 0.75rem;
    margin: 0 0.25rem;
    position: relative;
    padding: 0.25rem 0.5rem;
    top: -2px;
    white-space: pre;
}
pre {
    background: $gray-98;
    border: 1px solid $gray-90;
    font-family: monospace, monospace;
    margin: 0 0 2rem;
    overflow: hidden;
    padding: 1rem;
    position: relative;
    white-space: pre;
}
pre code {
    background: transparent;
    border: none;
    display: block;
    line-height: 1.5rem;
    margin: -1rem -1rem -1rem 1rem;
    overflow-x: auto;
    padding: 1rem;
    position: static;
    top: auto;
    vertical-align: inherit;
}
kbd {
    background: $gray-98;
    border: $gray-90 1px solid;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 $white inset;
    color: $blue-30;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    padding: 1px 8px;
    text-shadow: $white 0 1px 0;
}

table {
    background-color: transparent;
    border: 1px solid $gray-90;
    margin: 0 0 2rem;
    max-width: 100%;
    width: 100%;
}
table th,
table td {
    border: 1px solid $gray-90;
    line-height: 0.95rem;
    padding: 0.5rem;
    position: relative;
    text-align: left;
}
table th {
    color: $black;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 0.5rem;
}
table td {
    background-color: $gray-98;
}

.fluid-width-video-wrapper {
    margin: 0 0 2rem;
}

@keyframes fadein {
    0% {
        opacity: .2;
    }
    100% {
        opacity: .9;
    }
}

/* Layout features
   ---------------------------------------------------------------------------*/

.rows {
    align-items: flex-start;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
}

.columns {
    align-items: flex-start;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}

/* ==========================================================================
   Core site layout
   ========================================================================== */

html,
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#scroll {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

.main-column {
    align-items: center;
    background-color: $white;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    padding: 0 2rem;
    position: relative;
    width: 100%;

    & > * {
        max-width: 32rem;
        position: relative; // to render on top of #header:after.
        width: 100%;
    }
}

/* Page header
   -------------------------------------------------------------------------- */

#header {
    height: 9.5rem;
    justify-content: flex-end;
    line-height: 1;

    &.node {
        justify-content: center;
        text-align: center;
    }

    &.page {
        justify-content: flex-end;

        &.has-cover {
            padding-bottom: 3rem;
        }
    }

    .headline {
        font-family: 'Fira Sans', sans-serif;
        margin-bottom: 0.75rem;
    }

    &.has-cover {
        animation: 0.5s ease-in forwards fadein;
        background: no-repeat scroll center 30% / cover $black;
        color: $white;
        height: 22.5rem;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

        &:before {
            // Adds shade to the bottom part of the cover image.
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            bottom: 0;
            content: '';
            height: 6rem;
            left: 0;
            margin-left: 0;
            position: absolute;
            width: 100%;
        }

        .headline {
            color: $white;
        }

        .meta {
            color: rgba(255, 255, 255, 0.75);
        }

        a:hover,
        a:focus {
            border-color: rgba(255, 255, 255, 0.5);
        }
    }

    &.home {
        height: 18rem;
        padding-bottom: 3rem;

        .headline {
            font-size: 3rem;
        }

        .description {
            font-size: 1.5rem;
        }

        &.has-cover {
            height: 25rem;
        }
    }
    &.people {
        height: 8rem;
        
        &.has-cover {
            height: 16rem;
        }
    }
}

/* Content
   -------------------------------------------------------------------------- */

// See "Content layout" below.


/* Site footer
   -------------------------------------------------------------------------- */

#footer {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.625rem;
    line-height: 1;
    padding-bottom: 6rem;

    .credits {
        align-items: center;
        border-top: 1px solid $gray-90;
        color: rgba($blue-30, 0.5);
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding: 0.7rem 0;

        & > * {
            flex: 1 1 30%;
            margin-bottom: 0;
            margin-top: 0;
        }

        .theme {
            order: 1;
        }
        .copyright {
            flex: 0 0;
            order: 2;
            white-space: nowrap;
        }
        .software {
            order: 3;
            text-align: right;
        }
    }

    a {
        color: inherit;
    }
}

/* Two nav buttons
   -------------------------------------------------------------------------- */

#nav-buttons .nav-button {
    margin: 1rem;
    position: fixed;
    top: 0;

    .logo {
        max-width: 2rem;

        img {
            display: block;
            height: auto;
            margin: 0 auto;
            position: relative;
            width: 100%;
        }
    }
}

#home-button {
    left: 0;
}
#menu-button {
    right: 0;
    margin-right: 1.5rem !important;
}

#squealer {
    // Tells mum (the nav buttons) when #header leaves the house (viewport).
    // More robust than monitoring #header directly.
    position: relative;
    top: -2rem;
}

/* Menu
   -------------------------------------------------------------------------- */

#menu {
    background: $gray-95;
    border-left: 1px solid $gray-90;
    box-shadow: inset 3px 0 7px -5px rgba(0, 0, 0, 0.1);
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    height: 100vh;
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    transform: translate3d(16rem, 0, 0);
    transition: all ease-out 0.25s;
    width: 16rem;
}

.hidden-close {
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-active {
    #scroll {
        overflow: hidden;
    }

    #menu {
        transform: translate3d(0, 0, 0);
    }

    .hidden-close {
        display: block;
    }
}

#menu-switch {
    left: -50px;
    pointer-events: none;
    position: absolute;
    top: 0;
}

#menu {
    .close-button {
        color: transparent;
        display: block;
        height: 2rem;
        margin: 1rem 0 1rem 1rem;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;

        &:after,
        &:before {
            background: $blue-60;
            content: '';
            height: 1px;
            left: 50%;
            margin-left: -0.5rem;
            position: absolute;
            top: 50%;
            transform: rotate(45deg);
            transition: all ease 0.3s;
            width: 1rem;
        }
        &:before {
            transform: rotate(-45deg);
        }

        &:hover,
        &:focus {
            border-color: $primary-color;
            transform: rotate(180deg);
            
            &:after,
            &:before {
                background: $primary-color;
            }
        }
    }

    .nav-label {
        display: block;
        font-size: 0.75rem;
        line-height: 2;
        margin: 0;
        opacity: 0.5;
        padding: 1.25rem 1.5rem;
    }

    ul {
        margin: auto;
        padding: 0;
        position: relative;
        width: 100%;
    }

    li {
        &:after {
            background: rgba(0, 0, 0, 0.1);
            bottom: 0;
            content: '';
            height: 1px;
            left: 1.5rem;
            margin: auto;
            position: absolute;
            width: 100%;
        }
        &:last-child:after {
            display: none;
        }

        & > a {
            display: block;
            padding: 1.25rem 1.5rem;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover,
            &:focus {
                color: $black;
                background: rgba(0, 0, 0, 0.05);
            }

            & > i {
                font-size: 0.8rem;
                padding-right: 0.25rem;
                position: relative;
                top: -1px;
            }
        }

        &.active {
            border-left: 0.2rem solid $primary-color;
        }
        &.active > a {
            color: $black;
            font-weight: 500;
            padding-left: 1.3rem;
        }
    }
}

/* ==========================================================================
   Parallax
   ========================================================================== */

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
    body.has-cover #scroll {
        -webkit-perspective: 1px;
        perspective: 1px;
        perspective-origin: center top;
        scroll-behavior: smooth;

        #header {
            // Add scrollbar width to the right padding in order
            // to keep the header text aligned with page content.
            padding-right: calc(2rem + 100vw - 100%);
            transform: scale(2) translateZ(-1px);
            transform-origin: top;
            width: 100vw;
        }

        #main,
        #footer {
            transform: translateZ(0);
        }
    }
}

/* ==========================================================================
   Content layout
   ========================================================================== */

/* Summaries (for all types of content)
   -------------------------------------------------------------------------- */

.summary {
    align-items: center;
    border-top: 1px solid $gray-90;
    padding-bottom: 4rem;
    padding-top: 4rem;
    position: relative;

    .bio {
        flex: 1 1;
        font-size: 0.75rem;

        i {
            color: inherit;
        }

        span {
            display: inline-block;
            font-size: 0.6rem;
            margin-right: 0.75rem;
            margin-top: 0.45rem;
        }
    }

    .headline {
        margin: 0 0 0.5rem;
        line-height: 1;
        position: relative;
        
        a {
            color: inherit;
        }
    }

    .name {
        font-size: 1rem;
        line-height: 1;
        margin: 0;
    }

    .about,     // people
    .excerpt {  // page
        background: unset;
        border: unset;
        color: inherit;
        font-style: unset;
        font-weight: unset;
        margin: 0;
        padding: 0;

        p {
            margin: 0;
        }
    }

    .about {
        font-family: 'Fira Sans', sans-serif;
        margin: 0.5rem 0 0.25rem;
    }
}

#links .featured .headline:before {
    color: $yellow-100;
    content: '\e808';
    font-family: 'icons';
    font-size: 1rem;
    height: 1rem;
    left: -1.75rem;
    position: absolute;
    top: 0.1rem;
    width: 1rem;
}

.meta {
    // Styles both the meta in the header and in the summary.
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.5);

    a:hover,
    a:focus {
        border-color: rgba(0, 0, 0, 0.5);
    }
}

.divider {
    padding: 0 .5em;
}

/* Posts
   -------------------------------------------------------------------------- */

#main.posts {
    .info {
        align-items: flex-start;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        margin: 4rem 0 2rem;
    }

    .multiple-authors {
        border-top: 1px solid $gray-90;
        font-family: 'Fira Sans', sans-serif;
        padding: 2rem 0;

        .names {
            color: $blue-15;
            margin: 0;
        }
    }
}

.posts .nav {
    align-items: stretch;
    border-top: 1px solid $gray-90;
    color: $blue-15;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    position: relative;

    .headline {
        margin: 0 0 0.5rem;
        padding: 0;
        font-size: 1rem;
        line-height: 1rem;
        color: inherit;
    }

    .excerpt {
        font-size: 0.75rem;
        line-height: 1.334;
        margin: 0;
    }

    i {
        color: $gray-90;
        font-size: 2rem;
        height: 4rem;
        line-height: 2;
        margin-top: -2rem;
        position: absolute;
        text-align: center;
        top: 50%;
        transition: all ease-out 0.3s;
        width: 4rem;
    }

    a:hover i,
    a:focus i {
        color: $primary-color;
    }
}

.posts .previous {
    border-bottom: 1px solid transparent;
    border-right: 1px solid $gray-90;
    flex: 1 1 50%;
    position: relative;

    .teaser {
        padding-right: 1rem;
    }

    i {
        left: -3.5rem;
    }
}
.posts .next {
    flex: 1 1 50%;
    position: relative;

    .teaser {
        padding-left: 1rem;
    }

    i {
        right: -3.5rem;
    }
}

.posts .teaser {
    padding: 1.5rem 0;
}

.posts.summary {
    align-items: flex-start;
    flex-flow: column nowrap;

    .meta {
        margin-bottom: 1rem;
        order: 2;
    }

    .excerpt {
        order: 3;
    }
}

/* People
   -------------------------------------------------------------------------- */

#main.people {
    .summary {
        border: none;
        margin-top: -4rem;
        padding: 2em 0 3rem;

        .profile-image {
            margin-top: -0.5rem;
        }

        .name {
            font-size: 1.5rem;
            padding: 0 0 0.5rem;
        }
    }

    &.has-cover .summary {
        .profile-image {
            border: 0.125rem solid $white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .name {
            color: $white;
            font-weight: 500;
            letter-spacing: 0.025rem;
            line-height: 1;
        }
    }
}

#main .people.summary {
    // As an author on a blog post, or in the header on the profile page.
    // Basically, when not in a list of links.
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/* Companies
   -------------------------------------------------------------------------- */


/* Groups
   -------------------------------------------------------------------------- */

.groups.summary {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

/* Tags
   -------------------------------------------------------------------------- */

#links.tags {
    flex-flow: row wrap;
}

/* Post Comments
   -------------------------------------------------------------------------- */

// UNTESTED. NEED TO SET UP DISQUS.

.posts .comments {
    border-bottom: 1px solid $gray-90;
    box-sizing: border-box;
    padding: 2rem 0;
    position: relative;
    text-align: center;
}
.posts .comments.activated {
    background: $gray-98;
    border: 1px solid $gray-90;
    margin: -1px 0 0;
    padding: 1rem;
}
.posts .comments .activate {
    border: 1px solid $blue-80;
    border-radius: 2rem;
    color: $blue-60;
    cursor: pointer;
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75rem;
    line-height: 1.334rem;
    margin: 0;
    padding: 0.5rem 1.25rem;
    text-align: center;
    transition: all ease 0.3s;
}
.posts .comments .activate:hover,
.posts .comments .activate:focus {
    color: $primary-color;
    border-color: $primary-color;
}
.activated .posts .comments .activate {
    display: none;
}

/* Pagination
   -------------------------------------------------------------------------- */

.pagination {
    align-items: center;
    border-top: 1px solid $gray-90;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75rem;
    height: 2rem;
    justify-content: space-between;
    padding: 2rem 0;

    & > * {
        flex: 1 1 30%;
    }

    .left {
        order: 1;
    }
    .info {
        order: 2;
        text-align: center;
    }
    .right {
        order: 3;
        text-align: right;
    }
}

/* ==========================================================================
   Page content
   ========================================================================== */

.content {
    a {
        border-bottom: 1px solid $primary-color;
        color: $blue-15;

        &:hover,
        &:focus {
            color: $primary-color;
        }
    }

    img {
        display: block;
        height: auto;
        margin: 2.5rem auto;
        max-width: 100%;
    }
    img[src$="#full"] {
        margin: 3rem 0;
        max-width: none;
        width: 100vw;
    }
}

/* A note
   -------------------------------------------------------------------------- */

.note {
    margin: 0 0 0.334rem;
    font-size: 0.75rem;
    line-height: 1.334rem;
}

/* ==========================================================================
   Components
   ========================================================================== */

/* Button
   -------------------------------------------------------------------------- */

.button {
    border: 1px solid $blue-80;
    border-radius: 2rem;
    color: $blue-60;
    cursor: pointer;
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75rem;
    height: 2rem;
    line-height: 1.6;
    margin: 0;
    padding: 0.375rem 0.938rem;
    transition: all ease 0.3s;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;
    width: auto;

    &:hover,
    &:focus {
        color: $primary-color;
        border-color: $primary-color;
    }

    i {
        color: inherit;
        margin-right: 0.25em;

        &:before {
            margin: auto;
            width: auto;
        }
    }
}

.button.tags {
    background: $white;
    border-color: $primary-color;
    color: $primary-color;
    font-weight: 500;
    margin: 0 0.25rem 0.5rem 0;

    &:hover,
    &:focus {
        background: $primary-color;
        color: $white;
    }
}

/* Social
   -------------------------------------------------------------------------- */

.social a {
    border-radius: 2px;
    color: $white;
    display: block;
    float: left;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 2;
    margin: 0.25rem 0 0.25rem 0.5rem;
    padding: 0;
    text-align: center;
    text-decoration: none;
    transition: all ease 0.3s;
    width: 1.5rem;

    i {
        color: inherit;
        
        &:before {
            height: auto;
            width: auto;
        }
    }

    &.twitter {
        background-color: $color-twitter;
    }
    &.facebook {
        background-color: $color-facebook;
    }
    &.googleplus {
        background-color: $color-googleplus;
    }

    &:hover,
    &:focus {
        background-color: $blue-15;
    }
}

/* Profile image
   -------------------------------------------------------------------------- */

.profile-image {
    align-self: flex-start;
    flex: 0 0 5rem;
    margin: 0 1.5rem;
    overflow: hidden;
    position: relative;
    width: 5rem;

    img {
        display: block;
        margin: auto;
        position: relative;
        width: 100%;
        z-index: 2; // required to go over .avatar:after.
    }
}

.people .profile-image {
    background: $gray-95;
    border-radius: 50%;
    height: 5rem;

    &:before,
    &:after {
        background: $gray-90;
        border-radius: 50%;
        bottom: 35%;
        content: '';
        height: 50%;
        left: 25%;
        position: absolute;
        width: 50%;
    }
    &:after {
        bottom: -25%;
        left: 0;
        width: 100%;
    }

}

/* ==========================================================================
   Screen size adjustments
   ========================================================================== */

@media only screen and (max-width: 875px) {
    // Chrome bug won't let us put position fixed inside #scroll, so we
    // keep them out. But it means we cannot scroll the nav buttons.
    // Solution for now is to hide the home button on smaller screens and
    // accept the menu button overlaying content.
    #home-button {
        display: none;
    }
    #menu-button {
        background-color: $white;
    }
}
@media only screen and (min-width: 876px) {
    .cover-active .nav-button { // (while the header is in view)
        color: $white;
        border-color: rgba(255, 255, 255, 0.5);

        &:hover,
        &:focus {
            color: $white;
            border-color: $white;
        }
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 100%;
    }
}

@media only screen and (max-width: 480px) {
    .main-column {
        padding: 0 1rem;
    }
    #links .featured .headline:before {
        left: 0;
        top: -1.75rem;
    }
    .content img {
        width: 100%;
    }
    .posts .previous {
        border-bottom-color: $gray-90;
        border-right-color: transparent;
        flex-basis: 100%;
    }
    .posts .previous i {
        left: -2rem;
    }
    .posts .previous .teaser {
        padding-left: 1rem;
        padding-right: 0;
    }
    .posts .next {
        flex-basis: 100%;
    }
    .posts .next i {
        right: -2rem;
    }
    .posts .next .teaser {
        padding-left: 0;
        padding-right: 1rem;
    }
    .profile-image {
        flex-basis: 4rem;
        margin: 0 1rem;
        width: 4rem;
    }
    .people .profile-image {
        height: 4rem;
    }
}
