/* ==========================================================================
   Includes
   ========================================================================== */

@import "normalize";
@import "colors";
@import "icons";
@import "fonts";
@import "highlight";

/* ==========================================================================
   Basics
   ========================================================================== */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-size: 125%;
}
body {
    font: 400 1rem/1.5 'Cardo', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $color-blue-30;
    text-rendering: optimizeLegibility;
}
input,
button,
select,
textarea {
    font-family: 'Fira Sans', sans-serif;
    transition: all ease-out 0.2s;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fira Sans', sans-serif;
    text-rendering: optimizeLegibility;
    color: $color-black;
}

a {
    border-bottom: 1px solid transparent;
    color: $color-blue-15;
    text-decoration: none;
    transition: all ease-out 0.2s;
}

p {
    margin: 2rem 0;
}

ul, ol {
    margin: 0 0 2rem;
    padding-left: 2rem;
    box-sizing: border-box;
}

ul {
    list-style: none;
}
li {
    position: relative;
}
ul > li:before,
ol > li:before {
    position: absolute;
    width: 1.5rem;
    margin-left: -2rem;
    font-family: 'Fira Sans', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    text-align: right;
    color: $color-black;
}
ul > li:before {
    margin-top: 0.25rem;
    content: '*';
}
ol {
    list-style-type: none;
    counter-reset: item;
}
ol > li:before {
    content: counter(item) ". " !important;
    counter-increment: item;
}

ol ol, ul ul, ul ol, ol ul {
    padding-left: 30px;
    margin: 15px 0;
}

hr {
    display: block;
    height: 1px;
    margin: 0 0 2rem;
    padding: 0;
      background: $color-gray-90;
    border: 0;
}

blockquote {
    margin: 0 0 2rem;
    padding: 1rem;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 0.25rem solid $color-gray-90;
    font-style: italic;
    font-weight: 400;
    color: $color-blue-30;
    background: $color-gray-98;
}
blockquote p {
    margin: 0 0 1rem;
}
blockquote p:first-child {
    margin-top: 0;
}
blockquote p:last-child {
    margin-bottom: 0;
}
em, i {
    font-style: italic;
    color: $color-blue-15;
}
strong, b {
    font-weight: 700;
    color: $color-blue-15;
}

small {
    font-size: 0.9rem;
    color: $color-blue-30;
}


dl {
    margin: 0 0 2rem;
    padding-left: 30px;
}
dl dt {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
    color: $color-black;
    margin-bottom: 0.334rem;
}
dl dt:before {
    content: '';
    position: absolute;
    width: 1rem;
    height: 1px;
    margin-left: -30px;
    margin-top: 0.5rem;
    background: $color-blue-80;
}
dl dd {
    margin-left: 0;
    margin-bottom: 1rem;
}

mark {
    background-color: $color-yellow-100;
}
code, tt {
    position: relative;
    margin: 0 0.334rem;
    padding: 0.334rem 0.667rem;
    font-family: monospace, sans-serif;
    font-size: 0.75rem;
    white-space: pre;
    background: $color-gray-98;
    border: 1px solid $color-gray-90;
    top: -2px;
}

pre {
    position: relative;
    margin: 0 0 2rem;
    padding: 1rem;
    overflow: hidden;
    font-family: monospace, sans-serif;
    white-space: pre;
    background: $color-gray-98;
    border: 1px solid $color-gray-90;
    box-sizing: border-box;
}
pre .lines {
    position: absolute;
    width: 2.667rem;
    height: 100%;
    left: 0;
    top: 0;
    padding: 1.334rem 0;
    border-right: 1px solid $color-gray-90;
    font-size: 0.75rem;
    line-height: 2rem;
    text-align: right;
    box-sizing: border-box;
    background: rgba(255,255,255,0.5);
}
pre .lines .line {
    display: block;
    padding-right: 0.334rem;
    color: $color-blue-30;
}

pre code, pre tt {
    display: block;
    position: static;
    top: auto;
    margin: -1.334rem -1.334rem -1.334rem 1.334rem;
    padding: 1.334rem;
    overflow-x: auto;
    font-size: 0.75rem;
    line-height: 2rem;
    white-space: pre;
    background: transparent;
    border: none;
    vertical-align: inherit;
}
pre code.language-text {
  overflow: hidden;
  white-space: normal;
  margin-left: -1.334rem;
}

kbd {
    display: inline-block;
    margin-bottom: 0.5rem;
    padding: 1px 8px;
    border: $color-gray-90 1px solid;
    color: $color-blue-30;
    text-shadow: $color-white 0 1px 0;
    font-size: 0.9rem;
    font-weight: bold;
    background: $color-gray-98;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 1px 0 0 $color-white inset;
}

table {
    width: 100%;
    max-width: 100%;
    margin: 0 0 2rem;
    background-color: transparent;
    border: 1px solid $color-gray-90;
}

table th,
table td {
    position: relative;
    padding: 0.5rem;
    line-height: 0.95rem;
    text-align: left;
    border: 1px solid $color-gray-90;
}
table th {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 0.667rem;
    color: $color-black;
}
table td:after {
    position: absolute;
    width: 100%;
    height: 100%;
    left: -1px;
    top: -1px;
    padding: 1px;
    z-index: -1;
    content: '';
    background: $color-gray-98;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 0 2rem;
}

img[src$="#full"] {
  max-width: none;
  width: 100vw;
  margin: 3rem 0;
}

.kg-image-card {
    margin: 0 0 2rem;
    max-width: none !important;

    &.kg-width-wide {
        max-width: 48rem !important;
        min-width: 100%;
        width: 75vw;
    }

    &.kg-width-full {
        max-width: none;
        width: 100vw;
        margin-top: 2rem;
    }

    .kg-image {
        margin: 0 auto;
    }

    figcaption {
        font-family: 'Fira Sans', sans-serif;
        color: $color-blue-60;
        text-align: center;
        max-width: 32rem;
        margin: auto;
        font-size: 0.75rem;
        line-height: 1.25rem;
        padding: 0.667rem 0;
    }

    .kg-image-full + figcaption {
        margin-bottom: 1.334rem;
    }
}

.kg-gallery-card {
    margin: 0 0 2rem;
    max-width: 48rem !important;
    min-width: 100%;
    width: 75vw;

    figcaption {
        font-family: 'Fira Sans', sans-serif;
        color: $color-blue-60;
        text-align: center;
        max-width: 32rem;
        margin: auto;
        font-size: 0.75rem;
        line-height: 1.25rem;
        padding: 0.667rem 0;
    }
}

.kg-gallery-container {
    display: flex;
    flex-direction: column;
}

.kg-gallery-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kg-gallery-image img {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.kg-gallery-row:not(:first-of-type) {
    margin: 0.75rem 0 0 0;
}

.kg-gallery-image:not(:first-of-type) {
    margin: 0 0 0 0.75rem;
}

.kg-embed-card {
    margin: 0 0 2rem;

    > * {
        margin-left: auto;
        margin-right: auto;
    }
}

.fluid-width-video-wrapper {
    margin: 0 0 2rem;
}

.clear {
    clear: both;
}

@keyframes fadein {
    0% {
        opacity: .2;
    }
    100% {
        opacity: .9;
    }
}

/* ==========================================================================
   Core site layout
   ========================================================================== */

html,
body {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

#wrapper {
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    width: 100%;
}

#header,
#main,
#footer {
    background-color: $color-white;
    width: 100%;

    & > * {
        margin-left: auto;
        margin-right: auto;
        max-width: 36rem;
        padding: 0 2rem;
        position: relative; // to render on top of #header:after.
        width: 100%;
    }
}

/* Header
   -------------------------------------------------------------------------- */

#header {
    display: flex;
    flex-flow: column nowrap;
    height: 9.5rem;
    justify-content: flex-end;
    line-height: 1;
    position: relative;

    &.node {
        justify-content: center;
        text-align: center;
    }

    &.page {
        justify-content: flex-end;

        &.has-cover {
            padding-bottom: 3rem;
        }
    }

    .title {
        font-family: 'Fira Sans', sans-serif;
        margin-bottom: 0.75rem;
    }

    a {
        color: inherit;

        &:hover,
        &:focus {
            border-color: rgba(0, 0, 0, 0.5);
        }
    }

    &.has-cover {
        animation: 0.5s ease-in forwards fadein;
        background: no-repeat scroll center 30% / cover $color-black;
        color: $color-white;
        height: 22.5rem;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

        &:before {
            // Adds shade to the bottom part of the cover image.
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            bottom: 0;
            content: '';
            height: 6rem;
            left: 0;
            margin-left: 0;
            position: absolute;
            width: 100%;
        }

        .title {
            color: $color-white;
        }

        .meta {
            opacity: 0.75;
        }

        a:hover,
        a:focus {
            border-color: rgba(255, 255, 255, 0.5);
        }
    }

    &.home {
        height: 18rem;
        padding-bottom: 3rem;

        .title {
            font-size: 3rem;
        }

        .description {
            font-size: 1.5rem;
        }

        &.has-cover {
            height: 25rem;
        }
    }
    &.people {
        height: 8rem;
        
        &.has-cover {
            height: 16rem;
        }
    }
}

/* Content
   -------------------------------------------------------------------------- */

// See "Content layout" below.


/* Footer
   -------------------------------------------------------------------------- */

#footer {
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.625rem;
    line-height: 1;
    padding-bottom: 6rem;

    .credits {
        align-items: center;
        border-top: 1px solid $color-gray-90;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        padding-top: 0.7rem;
        padding-bottom: 0.7rem;

        & > * {
            flex: 1 1 30%;
            margin-bottom: 0;
            margin-top: 0;
            opacity: 0.5;
        }

        .theme {
            order: 1;
        }
        .copyright {
            flex: 0 0;
            order: 2;
            white-space: nowrap;
        }
        .software {
            order: 3;
            text-align: right;
        }
    }

    a {
        color: inherit;
    }
}

/* Two nav buttons
   -------------------------------------------------------------------------- */

#nav-buttons .nav-button {
    margin: 1rem;
    position: fixed;
    top: 0;

    .logo {
        max-width: 2rem;

        img {
            display: block;
            height: auto;
            margin: 0 auto;
            position: relative;
            width: 100%;
        }
    }
}

#home-button {
    left: 0;
}
#menu-button {
    right: 0;
    margin-right: 1.5rem !important;
}

.cover-active .nav-button { // while the header is in view...
    color: $color-white;
    border-color: rgba(255, 255, 255, 0.5);

    &:hover,
    &:focus {
        color: $color-white;
        border-color: $color-white;
    }
}

/* Menu
   -------------------------------------------------------------------------- */

#menu {
    background: $color-gray-95;
    border-left: 1px solid $color-gray-90;
    box-shadow: inset 3px 0 7px -5px rgba(0, 0, 0, 0.1);
    font-family: 'Fira Sans', sans-serif;
    height: 100%;
    height: 100vw;
    right: 0;
    top: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    position: fixed;
    transform: translate3d(16rem, 0, 0);
    transition: all ease-out 0.25s;
    width: 16rem;
}

.hidden-close {
    display: none;
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.menu-active {
    body {
        overflow: hidden;
    }

    #menu {
        transform: translate3d(0, 0, 0);
    }

    .hidden-close {
        display: block;
    }
}

#menu-switch {
    left: -50px;
    pointer-events: none;
    position: absolute;
}

#menu {
    .close-button {
        color: transparent;
        display: block;
        height: 2rem;
        margin: 1rem 0 1rem 1rem;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        width: 2rem;

        &:after,
        &:before {
            background: $color-blue-60;
            content: '';
            height: 1px;
            left: 50%;
            margin-left: -0.5rem;
            position: absolute;
            top: 50%;
            transform: rotate(45deg);
            transition: all ease 0.3s;
            width: 1rem;
        }
        &:before {
            transform: rotate(-45deg);
        }

        &:hover,
        &:focus {
            border-color: $primary-color;
            transform: rotate(180deg);
            
            &:after,
            &:before {
                background: $primary-color;
            }
        }
    }

    .nav-label {
        display: block;
        font-size: 0.75rem;
        line-height: 2;
        margin: 0;
        opacity: 0.5;
        padding: 1.25rem 1.5rem;
    }

    ul {
        margin: auto;
        padding: 0;
        position: relative;
        width: 100%;
    }

    li {
        &:after {
            background: rgba(0, 0, 0, 0.1);
            bottom: 0;
            content: '';
            height: 1px;
            left: 1.5rem;
            margin: auto;
            position: absolute;
            width: 100%;
        }
        &:last-child:after {
            display: none;
        }

        & > a {
            display: block;
            padding: 1.25rem 1.5rem;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:hover,
            &:focus {
                color: $color-black;
                background: rgba(0, 0, 0, 0.05);
            }

            & > i {
                font-size: 0.8rem;
                position: relative;
                top: -1px;
            }
        }

        &.active:before {
            background: $primary-color;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 0.2rem;
        }
        &.active > a {
            color: $color-black;
            font-weight: 500;
        }
    }
}

/* ==========================================================================
   Parallax
   ========================================================================== */

@supports ((perspective: 1px) and (not (-webkit-overflow-scrolling: touch))) {
    body.has-cover #wrapper {
        -webkit-perspective: 1px;
        perspective: 1px;
        perspective-origin: center top;
        scroll-behavior: smooth;

        #header {
            transform: scale(2) translateZ(-1px);
            transform-origin: top;
            width: 100vw;   // avoids a glitch on the x-axis.
        }

        #main,
        #footer {
            background-color: $color-white;
            padding-top: 1px;
            //position: relative;
            transform: translateZ(0);
            width: 100vw;
        }
    }
}

/* ==========================================================================
   Content layout
   ========================================================================== */

/* Summaries (for all types of content)
   -------------------------------------------------------------------------- */

.summary {
    align-items: center;
    border-top: 1px solid $color-gray-90;
    padding: 4rem 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    position: relative;

    .avatar,
    .logo {
        align-self: flex-start;
        flex: 0 0 5rem;
        height: 5rem;
        margin: 0 1.5rem;
        width: 5rem;
    }

    .bio {
        flex: 1 1;
        font-size: 0.75rem;

        a {
            color: inherit;
        }

        i {
            color: inherit;
        }

        span {
            display: inline-block;
            font-size: 0.6rem;
            margin-right: 0.75rem;
            margin-top: 0.45rem;
        }
    }

    .title {
        margin: 0 0 0.5rem;
        line-height: 1;
        position: relative;
        
        a {
            color: inherit;
        }
    }
    &.featured .title:before {
        color: $color-yellow-100;
        content: '\e808';
        font-family: 'icons';
        font-size: 1rem;
        font-style: normal;
        font-weight: normal;
        height: 1rem;
        left: -1.75rem;
        margin-top: -0.25rem;
        position: absolute;
        text-align: center;
        top: 0.35rem;
        width: 1rem;
    }

    .name {
        font-size: 1rem;
        line-height: 1;
        margin: 0;
    }

    .about,     // people
    .excerpt {  // page
        background: unset;
        border: unset;
        color: inherit;
        font-style: unset;
        font-weight: unset;
        margin: 0;
        padding: 0;

        p {
            margin: 0;
        }
    }

    .about {
        font-family: 'Fira Sans', sans-serif;
        margin: 0.5rem 0 0.25rem;
    }
}

.meta {
    // Styles both the meta in the header and in the summary.
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75rem;
    opacity: 0.5;

    .divider {
        padding: 0 .5em;
    }

    a:hover,
    a:focus {
        border-color: rgba(0, 0, 0, 0.5);
    }
}

/* Posts
   -------------------------------------------------------------------------- */

.posts.main .info {
    font-family: 'Fira Sans', sans-serif;
    margin-top: 6rem;
    overflow: hidden;

    & > .social {
        max-width: 25%;
        float: right;
    }

    & > .tags {
        float: left;
        max-width: 75%;
    }

    & > .people {
        border-top: 1px solid $color-gray-90;
        margin: 2rem 0 0;
        padding: 2rem 0;

        .names {
            margin: 0;
        }
    }
}

.posts.main .nav {
    border-top: 1px solid $color-gray-90;
    position: relative;

    &:after {
        // Vertical divider.
        background: $color-gray-90;
        content: '';
        height: 100%;
        left: 50%;
        position: absolute;
        top: 0;
        width: 1px;
    }

    .teaser {
        min-height: 6rem;
        padding: 1.5rem 0;
    }

    .title {
        margin: 0 0 0.5rem;
        padding: 0;
        font-size: 1rem;
        line-height: 1rem;
        color: inherit;
    }

    .excerpt {
        font-size: 0.75rem;
        line-height: 1.334;
        margin: 0;
    }

    i {
        color: $color-gray-90;
        font-size: 2rem;
        height: 4rem;
        line-height: 2;
        margin-top: -2rem;
        position: absolute;
        text-align: center;
        top: 50%;
        transition: all ease-out 0.3s;
        width: 4rem;
    }

    .next,
    .previous {
        display: block;
        width: 50%;
    }
    .next {
        float: left;

        .teaser {
            padding-right: 1rem;
        }

        i {
            left: 0;
            margin-left: -3.5rem;
        }
    }
    .previous {
        float: right;

        .teaser {
            padding-left: 1rem;
        }

        i {
            right: 0;
            margin-right: -3.5rem;
        }
    }

    a:hover i,
    a:focus i {
        color: $primary-color;
    }
}

.posts.summary {
    align-items: flex-start;
    flex-flow: column nowrap;
}
.posts.summary .meta {
    margin-bottom: 1rem;
}

/* People
   -------------------------------------------------------------------------- */

.people.main {
    .summary {
        border: none;
        margin-top: -4rem;
        padding: 2em 0 3rem;

        .avatar {
            margin-top: -0.5rem;
        }

        .name {
            font-size: 1.5rem;
            padding: 0 0 0.5rem;
        }
    }

    &.has-cover .summary {
        .avatar {
            border: 0.125rem solid $color-white;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        .name {
            color: $color-white;
            font-weight: 500;
            letter-spacing: 0.025rem;
            line-height: 1;
        }
    }
}

/* Companies
   -------------------------------------------------------------------------- */

.companies.summary .logo {
    // In the list of companies.

    img {
        width: 100%;
    }
}

/* Tags
   -------------------------------------------------------------------------- */

body.tags.node .pagination {
    margin-top: 3rem;
}


/* Post Comments
   -------------------------------------------------------------------------- */

// UNTESTED. NEED TO SET UP DISQUS.

.posts .comments {
    border-bottom: 1px solid $color-gray-90;
    box-sizing: border-box;
    padding: 2rem 0;
    position: relative;
    text-align: center;
}
.posts .comments.activated {
    background: $color-gray-98;
    border: 1px solid $color-gray-90;
    margin: -1px 0 0;
    padding: 1rem;
}
.posts .comments .activate {
    border: 1px solid $color-blue-80;
    border-radius: 2rem;
    color: $color-blue-60;
    cursor: pointer;
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75rem;
    line-height: 1.334rem;
    margin: 0;
    padding: 0.5rem 1.25rem;
    text-align: center;
    transition: all ease 0.3s;
}
.posts .comments .activate:hover,
.posts .comments .activate:focus {
    color: $primary-color;
    border-color: $primary-color;
}
.activated .posts .comments .activate {
    display: none;
}

/* Pagination
   -------------------------------------------------------------------------- */

.pagination {
    align-items: center;
    border-top: 1px solid $color-gray-90;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Fira Sans', sans-serif;
    height: 2rem;
    justify-content: space-between;
    padding: 2rem 0;

    & > div {
        flex: 1 1 30%;
    }

    .left {
        order: 1;
    }
    .info {
        font-size: 0.75rem;
        line-height: 2.667;
        order: 2;
        text-align: center;
    }
    .right {
        order: 3;
        text-align: right;
    }

    .button {
        margin: 0;
    }
}

/* ==========================================================================
   Components
   ========================================================================== */

/* Button
   -------------------------------------------------------------------------- */

.button {
    border: 1px solid $color-blue-80;
    border-radius: 2rem;
    color: $color-blue-60;
    cursor: pointer;
    display: inline-block;
    font-family: 'Fira Sans', sans-serif;
    font-size: 0.75rem;
    height: 2rem;
    line-height: 1.6;
    margin: 0 0.25rem 0.5rem 0;
    padding: 0.375rem 0.938rem;
    transition: all ease 0.3s;
    text-decoration: none;
    text-shadow: none;
    white-space: nowrap;

    &:hover,
    &:focus {
        color: $primary-color;
        border-color: $primary-color;
    }

    &.tags {
        background: $color-white;
        border-color: $primary-color;
        color: $primary-color;
        font-weight: 500;

        &:hover,
        &:focus {
            background: $primary-color;
            color: $color-white;
        }
    }

    i {
        color: inherit;
        margin-right: 0.25em;

        &:before {
            margin: auto;
            width: auto;
        }
    }
}

// --------------------------------------------------------------------------
// Social

.social a {
    border-radius: 2px;
    color: $color-white;
    display: block;
    float: left;
    font-size: 0.75rem;
    height: 1.5rem;
    line-height: 2;
    margin: 0.25rem 0 0.25rem 0.5rem;
    padding: 0;
    text-align: center;
    text-decoration: none;
    transition: all ease 0.3s;
    width: 1.5rem;

    &:hover,
    &:focus {
        background-color: $color-blue-15;
    }

    i {
        color: inherit;
        
        &:before {
            height: auto;
            width: auto;
        }
    }

    &.twitter {
        background-color: $color-social-twitter;
    }
    &.facebook {
        background-color: $color-social-facebook;
    }
    &.googleplus {
        background-color: $color-social-googleplus;
    }
}

/* Profile image
   -------------------------------------------------------------------------- */

.avatar {
    background: $color-gray-95;
    border-radius: 50%;
    margin: 0;
    overflow: hidden;
    position: relative;

    &:before,
    &:after {
        background: $color-gray-90;
        border-radius: 50%;
        bottom: 35%;
        content: '';
        height: 50%;
        left: 25%;
        position: absolute;
        width: 50%;
    }

    &:after {
        bottom: -25%;
        left: 0;
        width: 100%;
    }

    img {
        display: block;
        height: auto;
        margin: auto;
        position: relative;
        width: 100%;
        z-index: 2; // required to go over .avatar:after.
    }
}

/* ==========================================================================
   Page content
   ========================================================================== */

.content {
    a {
        border-bottom: 1px solid $primary-color;

        &:hover,
        &:focus {
            color: $primary-color;
        }
    }
}

/* A note
   -------------------------------------------------------------------------- */

.note {
    margin: 0 0 0.334rem;
    font-size: 0.75rem;
    line-height: 1.334rem;
}

/* ==========================================================================
   Screen size adjustments
   ========================================================================== */

@media only screen and (max-width: 960px) {
    #wrapper {
        transform: translate3d(0,0,0);
    }
    .menu-active #wrapper {
        padding-right: 0;
        transform: translate3d(-16rem,0,0);
    }
    .blog-logo,
    .button.nav {
        position: absolute;
    }
    #blog-people {
        margin: auto;
    }
}

@media only screen and (max-width: 640px) {
    html {
        font-size: 50%;
    }
    .info > .social,
    .info > .tags {
        max-width: none;
        float: none;
        margin: 0 0 2rem;
    }
    .info > .social a {
        margin-left: 0;
        margin-right: 0.667rem;
    }
    .posts-nav i {
        font-size: 1.5rem;
    }
}

@media only screen and (max-width: 480px) {
    .inner {
        padding: 0 16px;
    }
    .posts-template #main-header {
        padding: 16px 0;
    }
    #main-nav a {
        margin: 16px;
    }
    .container .posts.featured .posts-title:after {
        left: 0;
        top: -1.75rem;
    }
    .posts-content img,
    .posts-content .fluid-width-video-wrapper {
        width: 100%;
        margin-left: auto;
    }
    .posts-nav:after {
        display: none;
    }
    .posts-nav-next,
    .posts-nav-prev {
        display: block;
        width: 100%;
    }
    .posts-nav-teaser {
        position: relative;
        min-height: 4rem;
        padding: 2rem 0;
    }
    .posts-nav-next .posts-nav-teaser:after {
        position: absolute;
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        bottom: 0;
        margin-bottom: -1px;
        background: $color-gray-90;
        z-index: 2;
    }
    .posts-nav-next .posts-nav-teaser {
        padding-right: 0;
        padding-left: 1.5rem;
    }
    .posts-nav-prev .posts-nav-teaser {
        padding-left: 0;
        padding-right: 1.5rem;
    }
    .posts-nav-next i {
        margin-left: -1rem;
    }
    .posts-nav-prev i {
        margin-right: -1rem;
    }
    .people.summary {
        .avatar {
            height: 4rem;
            margin: 0 1rem 1rem 0;
            width: 4rem;
        }
        .bio {
            padding-left: 0;
        }
    }
    .company-logo {
        margin: 0 1rem 1rem 0;
        width: 4rem;
    }
}

@media only screen and (max-width: 320px) {
    .pagination .pagination-label {
        display: none;
    }
}
