{{- $production := not .Site.IsServer -}}
<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode | default "en" }}">
{{- /*
schema.org/
    WebPage
    CollectionPage

    Organization
    Person

    BlogPosting

    Event             <-- requires "location"
      tag = Events
      tag = Outreach
    NewsArticle
      tag = In the News
    ScholarlyArticle
      tag = Invited Talks
      tag = Publications
    SoftwareApplication
      tag = Software

    WebPage


    ItemList
    Enumeration
    BreadcrumbList


                            Article
Thing         Event         BlogPosting       SoftwareApplication
                            ScholarlyArticle
                            Newsarticle
-----------   -----------   ---------------   ---------------
name          name          headline          headline
description   description   description       description
                            articleBody
              location      contentLocation   contentLocation
              contributor   authors           author


*/}}
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>{{ .Site.Title }}{{ block "title" . }}{{ with .Params.Title }} | {{ . }}{{ end }}{{ end }}</title>
  {{- with .Description }}
  <meta name="description" content="{{ . }}">
  {{- end }}

  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">

  {{- /*    Style sheets
       * ===============
       */}}
  {{- if $production }}
    {{- /* Combine all resources into one. */}}
    {{- $options := (dict "outputStyle" "compressed" "enableSourceMap" 0) }}
    {{- $css := resources.Get "assets/sass/wumpus.scss" | resources.ToCSS $options | slice }}
    {{- range .Site.Data.assets.scss }}
      {{- $css = $css | append (resources.Get . | resources.ToCSS $options | slice) }}
    {{- end }}
    {{- $style := $css | resources.Concat "assets/css/style.css" | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
  {{- else }}
    {{- /* Spell out the resources separately, with nice formatting. */}}
    {{- $options := (dict "outputStyle" "expanded" "enableSourceMap" 1) }}
    {{- $style := resources.Get "assets/sass/wumpus.scss" | resources.ToCSS $options | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{- range .Site.Data.assets.scss }}
      {{- $style := resources.Get . | resources.ToCSS $options | fingerprint }}
  <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
    {{- end }}
  {{- end }}

  {{- /*    Site scripts
       * ===============
       */}}
  {{- $wumpus := resources.Get "assets/js/wumpus.js" }}
  {{- $script := slice $wumpus | resources.Concat "assets/js/script.js" | fingerprint }}
  <script defer src="{{ $script.Permalink }}" integrity="{{ $script.Data.Integrity }}"></script>

  {{- with .Site.Params.favicon }}
  <link rel="shortcut icon" href="/{{ . }}">
  <link rel="icon" type="image/png" href="/{{ . }}-192x192.png" sizes="192x192">
  <link rel="apple-touch-icon" href="/{{ . }}-180x180.png" sizes="180x180">
  {{- end }}
  {{- with .Permalink }}
  <link rel="canonical" href="{{ . }}">
  {{- end }}
  {{- range .AlternativeOutputFormats }}
  {{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
  {{- end }}

  {{- /* NOTE: These Hugo Internal Templates can be found starting at https://github.com/spf13/hugo/blob/master/tpl/tplimpl/template_embedded.go#L158 */}}
  {{ template "_internal/opengraph.html" . -}}
  {{- range slice "profile_image" "feature_image" }}
    {{- with index $.Params . }}
      {{- with $.Resources.GetMatch . }}
  <meta property="og:image" content="{{ .Permalink }}">
      {{- else }}
  <meta property="og:image" content="{{ . | absURL }}">
      {{- end }}
    {{- end }}
  {{- end }}
  {{ template "_internal/google_news.html" . -}}
  {{- template "_internal/twitter_cards.html" . -}}

  <meta name="referrer" content="no-referrer-when-downgrade">
  {{ .Hugo.Generator }}
  {{- if $production }}
  <meta name="robots" content="index, follow">
  {{- template "_internal/google_analytics_async.html" . -}}
  {{- else }}
  <meta name="robots" content="noindex, nofollow">
  {{- end }}
</head>
<body class="{{ partial "content-class.html" . }}{{ if $production }} production{{ else }} dev{{ end }}">

<div id="scroll">

  {{- /*   Page main content
       * ===================
       *
       */}}
  {{- block "main" . }}
  <main>
    <article>
      <header id="header">
        <h1>title</h1>
        ...
      </header>

      <div id="main">
        <div class="content">
          {{ .Content }}
        </div>

        ... optional:
        <div class="info">
          ...
        </div>

        ... optional:
        <footer class="multiple-authors">
          ...
        </footer>
        ... or:
        <section class="people">
          ...
        </section>

        ... optional:
        <section class="comments">
          ... (disqus)
        </section>
      </div>
    </article>
    <ul id="links">
      ...
    </ul>
  </main>
  {{- end }}

  {{- /*    Site footer
       * ==============
       */}}
  <footer id="footer" class="main-column">
    {{- block "footer" . }}
    <div class="credits">
      <p class="copyright"><a href="{{ .Site.BaseURL }}">{{ with .Site.Copyright }}{{ . }}{{ else }}&copy; {{ now.Format "2006" }} {{ .Site.Title }}{{ end }}</a>
      {{- /*<p class="theme">{{ i18n "Theme" }} <a href="//gitlab.com/wpk-/gohugo-theme-wumpus">Wumpus</a> {{ i18n "By" }} <a href="//paulkoppen.com/" rel="nofollow">Paul Koppen</a>*/}}
      <p class="software">{{ i18n "PublishedWith"}} <a href="//gohugo.io/">Hugo</a>
    </div>
    {{- end }}
  </footer>
  <label class="hidden-close" for="menu-switch"></label>
</div>

{{- /*    Navigation buttons
     * =====================
     */}}
<nav id="nav-buttons">
  {{- with .Site.Params.logo }}
  <a id="home-button" class="nav-button logo" href="{{ .Site.BaseURL }}"><img src="{{ . }}" alt="{{ i18n "Blog Logo" }}"></a>
  {{- else}}
    {{- if not .IsHome }}
  <a id="home-button" class="nav-button button" href="{{ .Site.BaseURL }}"><i class="ic ic-arrow-left"></i><span class="caption">{{ i18n "Home" }}</span></a>
    {{- end }}
  {{- end }}

  {{- if .Site.Menus.main }}
  <label  id="menu-button" class="nav-button button" for="menu-switch"><i class="ic ic-menu"></i><span class="caption">{{ i18n "Menu" }}</span></label>
  {{- end }}
</nav>

{{- /*    Site navigation
     * ==================
     */}}
<nav id="menu">
  <p class="nav-label">{{i18n "Menu"}}</p>
  <ul>
    {{- range .Site.Menus.main }}
    <li class="nav-{{ replace (trim .URL "/") "/" "_" | urlize }}{{if or ($.Page.IsMenuCurrent "main" .) ($.Page.HasMenuCurrent "main" .) }} active{{end}}" role="presentation"><a href="{{ .URL }}">{{ .Pre }}<span>{{ .Name }}</span></a>
    {{- end }}
    {{- with .Site.Param "twitter" }}
    <li class="nav-twitter"><a href="//twitter.com/{{ . | urlize }}" title="{{ . }}"><i class="ic ic-twitter"></i>Twitter</a>
    {{- end }}
    {{- with .Site.Param "facebook" }}
    <li class="nav-facebook"><a href="//facebook.com/{{ . | urlize }}" title="{{ . }}"><i class="ic ic-facebook"></i>Facebook</a>
    {{- end }}
    {{- with .Site.Param "instagram" }}
    <li class="nav-instagram"><a href="//instagram.com/{{ . | urlize }}" title="{{ . }}"><i class="ic ic-instagram"></i>Instagram</a>
    {{- end }}
    {{- with .Site.Param "github" }}
    <li class="nav-github"><a href="//github.com/{{ . | urlize }}" title="{{ . }}"><i class="ic ic-github"></i>Github</a>
    {{- end }}
    {{- with .Site.RSSLink }}
    <li class="nav-rss"><a rel="alternate" type="application/rss+xml" href="{{ . }}"><i class="ic ic-rss"></i>{{ i18n "Subscribe" }}</a>
    {{- end }}
  </ul>
  <label for="menu-switch" class="close-button button">{{i18n "Close"}}</label>
  <input type="checkbox" id="menu-switch" value="open" tabindex="-1" role="switch" aria-checked="false">
</nav>
</body>
</html>
