{{ define "header" }}
{{- $pages := cond .IsHome (where .Pages "Type" "posts") .Pages }}
        <h1 class="headline">{{ .Title }}</h1>
        <span class="description">{{ if .IsHome }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ else }}{{ partial "num-pages.html" $pages }}{{ end }}</span>
{{- end }}


{{ define "links" }}
  {{- $pages := cond .IsHome (where .Pages "Type" "posts") .Pages }}
  {{- $paginator := .Paginate $pages }}
  {{- if $paginator.TotalNumberOfElements }}
    {{- range $paginator.Pages }}
      {{- .Scratch.Set "people_show_link" (.Params.has_user_page | default 1) }}
      {{- .Scratch.Set "people_show_stats" (ne $.Kind "taxonomyTerm") }}
{{ .Render "summary" }}
    {{- end }}
    {{- partial "pagination.html" $paginator }}
  {{- end }}
{{- end }}
