{{ define "main" }}
{{- $pages := cond .IsHome (where .Pages "Type" "posts") .Pages }}
{{- $paginator := .Paginate $pages }}
  <main>
    <article class="rows">
      <header id="header" class="main-column {{ partial "content-class.html" . }}"{{ with (cond .IsHome .Site.Params.feature_image .Params.feature_image) }} style="background-image: url('{{ . }}');"{{ end }}>
        <h1 class="headline">{{ .Title }}</h1>
        <span class="description">{{ if .IsHome }}{{ with .Description }}{{ . }}{{ end }}{{ else }}{{ partial "num-pages.html" $pages }}{{ end }}</span>
      </header>
      <div id="squealer"></div>
      <div id="main" class="main-column {{ partial "content-class.html" . }}">
        {{- with .Content }}
        <div class="content">
          {{ . }}
        </div>
        {{- end }}
      </div>
    </article>
    <nav id="links" class="main-column {{ partial "content-class.html" . }}">
      {{- if $paginator.TotalNumberOfElements }}
      <ul class="list">
        {{- range $index, $page := $paginator.Pages }}
        <li>
          {{- .Scratch.Set "show_link" (.Params.has_page | default 1) }}
          {{- .Scratch.Set "show_stats" (ne $.Kind "taxonomyTerm") }}
          {{ .Render "summary" }}
        {{- end }}
      </ul>
        {{- partial "pagination.html" $paginator }}
      {{- end }}
    </nav>
  </main>
{{- end }}
