{{ define "main" }}
  <main>
    <article class="rows">
      <header id="header" class="main-column {{ partial "content-class.html" . }}"{{ with .Params.feature_image }} style="background-image: url('{{ . }}');"{{ end }}>
        <h1 class="headline">{{ .Title }}</h1>
      </header>
      <div id="squealer"></div>
      <div id="main" class="main-column {{ partial "content-class.html" . }}">
        {{- with .Content }}
        <div class="content">
          {{ . }}
        </div>
        {{- end }}
      </div>
    </article>
  </main>
{{- end }}
