{{/*
   * This renders a personal page for people with an `index.md`
   * (as opposed to an `_index.md`. See also taxonomy.html).
   *
   */}}

{{ define "header" }}{{/* Header is in the main. */}}{{- end }}


{{ define "main" }}
        <div class="header">
          {{- .Scratch.Set "people_show_link" 0 }}
          {{- .Scratch.Set "people_show_stats" 1 }}
{{ .Render "summary" }}
        </div>
        {{- with .Content }}
        <div class="content">
          {{ . }}
        </div>
        {{- end }}
{{- end }}


{{ define "links" }}<!-- -->{{- end }}
