{{- $show_link := .Scratch.Get "show_link" | int | ne 0 -}}
{{- $show_stats := .Scratch.Get "show_stats" -}}
          <section class="{{ partial "content-class.html" . }} columns summary">
            <figure class="profile-image">
              {{- with .Params.profile_image }}
                {{- with ($.Resources.GetMatch .) }}
              <img src="{{ .RelPermalink }}" alt="{{ $.Params.name }}">
                {{- end }}
              {{- end }}
            </figure>
            <div class="rows bio">
              <header>
                <h2 class="name">
                  {{- if $show_link }}
                  <a href="{{ .RelPermalink }}">{{ with .Params.prefix }}{{ . }} {{ end }}{{ .Params.name }}</a>
                  {{- else }}
                  {{ with .Params.prefix }}{{ . }} {{ end }}{{ .Params.name }}
                  {{- end }}
                </h2>
              </header>
              {{- if $show_link }}
              <blockquote class="about" cite="{{ .RelPermalink }}">
                <p>{{ .Params.bio | safeHTML }}
              </blockquote>
              {{- else }}
              <div class="about">
                <p>{{ .Params.bio | safeHTML }}
              </div>
              {{- end }}
              <footer class="meta">
                <ul>
                  {{- if and $show_stats (len .Pages) }}
                  <li class="stats ic ic-pencil">{{ partial "num-pages.html" .Pages }}
                  {{- end }}
                  {{- with .Params.location }}
                  <li class="location ic ic-location">{{ . }}
                  {{- end }}
                  {{- with .Params.website }}
                  <li class="website ic ic-link"><a href="{{ . }}" rel="noopener external">{{ i18n "Website" }}</a>
                  {{- end }}
                  {{- with .Params.twitter }}
                  <li class="twitter ic ic-twitter"><a target="_blank" href="https://twitter.com/{{ . }}" rel="noopener external nofollow noreferrer" referrerpolicy="no-referrer">Twitter</a>
                  {{- end }}
                  {{- with .Params.facebook }}
                  <li class="facebook ic ic-facebook"><a target="_blank" href="https://facebook.com/{{ . }}" rel="noopener external nofollow noreferrer" referrerpolicy="no-referrer">Facebook</a>
                  {{- end }}
                </ul>
              </footer>
            </div>
          </section>