{{/*
   * This renders a profile page for people and
   * includes references to their blog posts.
   *
   */}}

{{ define "title" }}{{ with .Params.name }} | {{ with $.Params.prefix }}{{ . }} {{ end }}{{ . }}{{ end }}{{ end }}

{{ define "main" }}
{{- $paginator := .Paginate .Pages }}
  <main itemscope itemtype="http://schema.org/Person">
    <article class="rows">
      <header id="header" class="main-column {{ partial "content-class.html" . }}"{{ with .Params.feature_image }} style="background-image: url('{{ . }}');"{{ end }}>
        {{- with .Params.feature_image }}
        <meta itemprop="image" content="{{ . }}">
        {{- end }}
      </header>
      <div id="squealer"></div>
      <div id="main" class="main-column {{ partial "content-class.html" . }}">
        <div class="header">
          {{- .Scratch.Set "show_link" 0 }}
          {{- .Scratch.Set "show_stats" 1 }}
          {{- .Scratch.Set "no_item" 1 }}
          {{ .Render "summary" }}
          {{- .Scratch.Delete "no_item" }}
        </div>
        {{- with .Content }}
        <div class="content" itemprop="description">
          {{ . }}
        </div>
        {{- end }}
      </div>
    </article>
    <nav id="links" class="main-column {{ partial "content-class.html" . }}" itemscope itemtype="http://schema.org/SiteNavigationElement">
      {{- if $paginator.TotalNumberOfElements }}
      <ul class="list" itemscope itemtype="http://schema.org/ItemList">
        {{- range $paginator.Pages }}
        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
          {{- .Scratch.Set "show_link" (.Params.has_page | default 1) }}
          {{- .Scratch.Set "show_stats" (ne $.Kind "taxonomyTerm") }}
          {{ .Render "summary" }}
        {{- end }}
      </ul>
        {{- partial "pagination.html" $paginator }}
      {{- end }}
    </nav>
  </main>
{{- end }}
