{{ define "header" }}
  <input type="text" class="title" name="title" value="{{ .Title }}">
{{ end }}


{{ define "main" }}
	<article class="{{ partial "content-class.html" . }} main">
    <textarea class="content">
      {{ .Content | htmlEscape }}
    </textarea>

    <section class="info">
      <aside class="tags">
        {{- partial "taxonomy-links.html" (dict "Site" .Site "Params" .Params "taxonomy" "tags" "separator" " ") -}}
      </aside>
      <div class="clear"></div>
    </section>
	</article>
{{ end }}
