{{ define "main" }}
  <main>
    <article class="rows">
      <header id="header" class="main-column {{ partial "content-class.html" . }}"{{ with .Params.feature_image }} style="background-image: url('{{ . }}');"{{ end }}>
        <h1 class="headline">{{ .Title }}</h1>
        <div class="meta">
          {{- if .Params.people }}
          <span class="authors">{{ partial "taxonomy-links.html" (dict "Site" .Site "Params" .Params "taxonomy" "people") }}</span>
          <span class="divider">|</span>
          {{- end }}
          <time class="date" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan 2006"}}</time>
        </div>
      </header>
      <div id="squealer"></div>
      <div id="main" class="main-column {{ partial "content-class.html" . }}">
        <div class="content">
          {{ .Content }}
        </div>
        <div class="info">
          <div class="tags">
            {{- partial "taxonomy-links.html" (dict "Site" .Site "Params" .Params "taxonomy" "tags" "separator" " " "template" "button") -}}
          </div>
          <aside class="social">
            <a class="twitter" href="https://twitter.com/share?text={{ .Title }}&url={{ .Permalink }}" target="_blank" rel="noopener external nofollow noreferrer" referrerpolicy="no-referrer">
              <i class="ic ic-twitter"></i><span class="hidden">Twitter</span>
            </a>
            <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}" target="_blank" rel="noopener external nofollow noreferrer" referrerpolicy="no-referrer">
              <i class="ic ic-facebook"></i><span class="hidden">Facebook</span>
            </a>
            <a class="googleplus" href="https://plus.google.com/share?url={{ .Permalink }}" target="_blank" rel="noopener external nofollow noreferrer" referrerpolicy="no-referrer">
              <i class="ic ic-googleplus"></i><span class="hidden">Google+</span>
            </a>
          </aside>
        </div>
        {{- with .Params.people }}
          {{- if ge (len .) 2 }}
        <footer class="multiple-authors">
          <p class="note">{{ i18n "ThisPostWasACollaboration" }}</p>
          <p class="names">{{ partial "taxonomy-links.html" (dict "Site" $.Site "Params" $.Params "taxonomy" "people") }}</p>
        </footer>
          {{- else }}
            {{- with $.Site.GetPage (printf "/people/%s" (index $.Params.people 0) | urlize) }}
              {{- .Scratch.Set "show_link" 1 }}
              {{- .Scratch.Set "show_stats" 0 }}
          {{ .Render "summary" }}
            {{- end }}
          {{- end }}
        {{- end }}
        {{- /*
        <section class="comments">
          <a id="show-disqus" class="activate">{{ i18n "ShowComments" }}</a>
          <div id="disqus_thread"></div>
        </section>
        */}}
      </div>
    </article>
    <nav id="links" class="main-column {{ partial "content-class.html" . }}">
      <ul class="nav" >
        {{- with .PrevInSection }}
        <li class="previous">
          <a href="{{ .RelPermalink }}" rel="prev">
            <section class="teaser">
              <i class="ic ic-arrow-left"></i>
              <h2 class="headline">{{ .Title }}</h2>
              <p class="excerpt">{{ .Description | default .Summary | truncate 150 }}</p>
            </section>
          </a>
        {{- else }}
        <li class="previous">
        {{- end }}
        {{- with .NextInSection }}
        <li class="next">
          <a href="{{ .RelPermalink }}" rel="next">
            <section class="teaser">
              <i class="ic ic-arrow-right"></i>
              <h2 class="headline">{{ .Title }}</h2>
              <p class="excerpt">{{ .Description | default .Summary | truncate 150 }}</p>
            </section>
          </a>
        {{- else }}
        <li class="next">
        {{- end }}
      </ul>
    </nav>
  </main>
{{- end }}
