{{- $show_link := .Scratch.Get "show_link" | default 1 -}}
          <article class="{{ partial "content-class.html" . }} rows summary">
            <header>
              <h2 class="headline">
                {{- if $show_link  }}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{- else }}{{ .Title }}{{ end }}
              </h2>
            </header>
            {{- with .Description | default (.Summary | truncate 220) }}
              {{- if $show_link }}
            <blockquote class="excerpt" cite="{{ $.RelPermalink }}">
              <p>{{ . }}
            </blockquote>
              {{- else }}
            <div class="excerpt">
              <p>{{ . }}
            </div>
              {{- end }}
            {{- end }}
            <footer class="meta">
              {{ if .Params.people }}{{- partial "taxonomy-links.html" (dict "Site" .Site "Params" .Params "taxonomy" "people") -}}{{ end }}
              {{ if .Params.tags }}{{ i18n "On" }} {{- partial "taxonomy-links.html" (dict "Site" .Site "Params" .Params "taxonomy" "tags") -}}{{ end }}
              <span class="divider">|</span>
              <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2 Jan 2006"}}</time>
            </footer>
          </article>