body,
#header,
#main,
#footer,
#wrapper {
  background-color: #eaeaea;
}

#header:not(.home) .title {
  font-size: 2rem;
}

*[contenteditable] {
  border-left: 0.75rem solid gray;
  display: inline-block;
  margin-left: -2.75rem;
  padding-bottom: 0.1em !important;
  padding-left: 2rem;
  padding-top: 0.1em !important;
}
*[contenteditable]:focus {
  border-color: #9ecaed;
  color: navy;
  outline: none;
}
#header.has-cover *[contenteditable] {
}
#header .title[contenteditable] {
 
}

#header .meta {
  align-items: flex-start;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  opacity: unset;
}
#header .meta :first-child {
  flex: 1 1;
}
#header .meta :not(:first-child) {
  flex: initial;
}
#header .meta .divider {
  display: none;
}
