<article class="{{ partial "content-class.html" . }} summary">
  <figure class="logo">
    {{ with .Params.profile_image }}
    {{ with ($.Resources.GetMatch .) }}
    <img src="{{ .RelPermalink }}" alt="{{ $.Title }}">
    {{ end }}{{ end }}
  </figure>
  <div class="bio">
    <header>
      <h2 class="title">{{ .Title }}</h2>
    </header>
    {{ with .Description | default (.Summary | truncate 220) }}
    <blockquote class="excerpt" cite=".RelPermalink">
      <p>{{ . }}
    </blockquote>
    {{ end }}
    <footer class="meta">
      {{ with .Params.location }}<span class="location"><i class="ic ic-location"></i> {{ . }}</span>{{ end }}
      {{ with .Params.website }}<span class="website"><i class="ic ic-link"></i> <a href="{{ . }}" rel="noopener external">{{ i18n "Website" }}</a></span>{{ end }}
      {{ with .Params.twitter }}<span class="twitter"><i class="ic ic-twitter"></i> <a target="_blank" href="https://twitter.com/{{ . }}" rel="noopener external nofollow noreferrer" referrerpolicy="no-referrer">Twitter</a></span>{{ end }}
      {{ with .Params.facebook }}<span class="facebook"><i class="ic ic-facebook"></i> <a target="_blank" href="https://facebook.com/{{ . }}" rel="noopener external nofollow noreferrer" referrerpolicy="no-referrer">Facebook</a></span>{{ end }}
    </footer>
  </div>
</article>