{{- $show_link := .Scratch.Get "show_link" | default 1 -}}
          <article class="{{ partial "content-class.html" . }} summary">
            <header>
              <h2 class="headline">
                {{- if $show_link }}
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{- else }}{{ .Title }}{{ end }}
              </h2>
            </header>
            {{- with .Description | default (.Summary | truncate 220) }}
            <blockquote class="excerpt" cite="{{ $.RelPermalink }}">
              <p>{{ . }}
            </blockquote>
            {{- end }}
          </article>